# ============================================================
# TP2 - Variables d'environnement
# Copier en .env et adapter les valeurs
# NE PAS committer .env dans Git !
# ============================================================

# Mot de passe base de données Odoo
DB_PASSWORD=OdooSecure@2024

# IPs des nœuds (à remplir selon votre infra)
NODE1_IP=<EC2_AZ1_PUBLIC_OR_VPN_IP>
NODE2_IP=<LOCAL_VPN_IP>

# Mot de passe administrateur Odoo
ODOO_ADMIN_PASSWD=AdminMaster@2024

# Mot de passe réplication PostgreSQL
REPL_PASS=ReplicaPass@2024
